// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2025 Venkata Atchuta Bheemeswara Sarma Darbha
 *
 */

#include <dt-bindings/clock/rockchip,rk3588-cru.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>


&csi2_dphy0 {
	status = "disabled";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_in_ucam0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&ov13850_out2>;
				data-lanes = <1 2>;
			};

			mipi_in_ucam1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ov13855_out2>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
		        reg = <1>;
		        #address-cells = <1>;
		        #size-cells = <0>;
		        csidphy0_out: endpoint@0 {
		                reg = <0>;
		                remote-endpoint = <&mipi2_csi2_input>;
		        };
		};
	};
};

&i2c7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7m0_xfer>;

	ov13855_1: ov13855-1@36 {
		compatible = "ovti,ov13855";
		status = "disabled";
		reg = <0x36>;
		clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&mipim1_camera3_clk>;
		reset-gpios = <&gpio3 RK_PC4 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2016-FV1";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_p1>;
		port {
			ov13855_out2: endpoint {
				remote-endpoint = <&csi2_input>;
				data-lanes = <1 2>;
			};
		};
	};
};

&mipi2_csi2 {
	status = "disabled";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			mipi2_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in2>;
			};
		};
	};
};

&rkcif_mipi_lvds2 {
	status = "disabled";
	port {
		cif_mipi_in2: endpoint {
			remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds2_sditf {
	status = "disabled";
	port {
		mipi2_lvds_sditf: endpoint {
			remote-endpoint = <&isp0_vir1>;
		};
	};
};

&rkisp0_vir1 {
	status = "disabled";
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		isp0_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi2_lvds_sditf>;
		};
	};
};

// TODO- BSP to mainline conversion
&{/} {
	vcc_cam0: vcc-cam0-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam0_power0_en>;
		regulator-name = "vcc_cam0";
		vin-supply = <&vcc_3v3_s3>;
	};
};



&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

    ov13855_1: ov13855-1@36 {
		compatible = "ovti,ov13855";
		status = "disabled";
		reg = <0x36>;
		clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&mipim1_camera3_clk>;
		reset-gpios = <&gpio3 RK_PC4 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2016-FV1";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_p1>;
		port {
			ov13855_out2: endpoint {
				remote-endpoint = <&csi2_input>;
				data-lanes = <1 2>;
			};
		};
	};

	imx415: camera-sensor@1a {
		compatible = "sony,imx415";
		reg = <0x1a>;
		assigned-clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
		assigned-clock-rates = <27000000>;
		avdd-supply = <&vcc_cam0>;
		clocks = <&cru CLK_MIPI_CAMARAOUT_M3>;
		clock-names = "inck";
		dvdd-supply = <&vcc_cam0>;
		orientation = <2>; /* External */
		ovdd-supply = <&vcc_cam0>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam0_rstn &mipim0_camera3_clk>;
		reset-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_LOW>;

		port {
			imx415_ep: endpoint {
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <445500000>;
				remote-endpoint = <&csi2_input>;
			};
		};
	};
};

&pinctrl {
	cam0 {
		cam0_power0_en: cam0-power0-en-pinctrl {
			rockchip,pins = <1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		cam0_rstn: cam0-rstn-pinctrl {
			rockchip,pins = <4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&csi2 {
	status = "okay";
};

&csi2_in {
	csi2_input: endpoint {
		data-lanes = <1 2 3 4>;
		link-frequencies = /bits/ 64 <445500000>;
		remote-endpoint = <&ov13855_out2>;
	};
};

&csi_dphy0 {
	status = "okay";
};

&vicap {
	status = "okay";
};

&vicap_mmu0 {
	status = "okay";
};

&vicap_mmu1 {
	status = "okay";
};
